<div class="col-span-12 lg:col-span-3 lg:order-1">
    <div class="bg-white p-4 rounded-3xl mb-4 leading-8 sticky top-0">
      <div class="p-3 bg-stone-200 rounded-xl mb-4">
        <h1 class="text-sm font-YekanBakh-Bold">جستجو پیشرفته</h1>
      </div>
        <div>
          <label class="label">
            <span class="label-text-alt">نام پزشک:</span>
          </label>
          <input type="text" placeholder="نام متخصص" class="input input-bordered w-full rounded-xl placeholder:text-xs">   
          <label class="label">
            <span class="label-text-alt">تخصص و فوق تخصص:</span>
          </label>
          <input type="text" placeholder="تخصص" class="input input-bordered w-full rounded-xl placeholder:text-xs"> 
          <label class="label">
            <span class="label-text-alt">استان:</span>
          </label>
          <select class="select select-bordered w-full pr-3">
            <option selected="">تهران</option>
            <option>اصفهان</option>
            <option>شیراز</option>
            <option>گیلان</option>
            <option>کرج</option>
          </select>
          <label class="label">
            <span class="label-text-alt">جنسیت:</span>
          </label>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">خانم</span> 
              <input type="radio" name="radio-10" class="radio checked:bg-red-500" checked="">
            </label>
          </div>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">آقا</span> 
              <input type="radio" name="radio-10" class="radio checked:bg-blue-500">
            </label>
          </div>
          <button class="btn bg-stone-800 w-full hover:bg-stone-900 text-white my-3">جستجو</button> 
        </div>
        
    </div>
</div>