{% extends "base/base.html" %}

{% block title %}
    <title>نظرات</title>
{% endblock title %}

{% block content %}
<div class="bg-white p-4 lg:p-8 rounded-3xl w-full">
    <div class="p-3 bg-stone-200 rounded-xl mb-4">
        <h1 class="text-sm font-YekanBakh-Bold">نظرات</h1>
      </div>
      <div class="flex flex-col gap-4">
        <div class="bg-white border p-6 rounded-2xl">
            <div class="flex flex-col md:flex-row items-center justify-between gap-4">
                <div class="flex flex-col md:flex-row items-center gap-4">
                    <div>
                        <div class="avatar">
                            <div class="w-20 rounded-full">
                              <img src="../assets/images/avatar-2.jpg">
                            </div>
                          </div>
                    </div>
                    <div class="leading-8 mr-2">
                        <p class="text-sm font-YekanBakh-Bold">ساحل نیابتی</p>
                        <span class="text-xs text-stone-500">دوشنبه ۲۰ ام شهریور ۱۴۰۲</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
                <div>
                    <a href="reservation.html" class="bg-indigo-600 hover:bg-indigo-700 hover:transition hover:duration-700 p-4 py-1 text-center rounded-xl text-white">پاسخ</a>
                </div>
            </div>
            <div class="bg-stone-100 mt-4 border p-6 rounded-2xl">
                <div class="flex flex-col md:flex-row items-center gap-4">
                    <div>
                        <div class="avatar">
                            <div class="w-20 rounded-full">
                              <img src="../assets/images/avatar-3.jpg">
                            </div>
                          </div>
                    </div>
                    <div class="leading-8 mr-2">
                        <p class="text-sm font-YekanBakh-Bold">سهیلا حیدری کیا</p>
                        <span class="text-xs text-stone-500">دوشنبه ۲۰ ام شهریور ۱۴۰۲</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="bg-white border p-6 rounded-2xl">
                <div class="flex flex-col md:flex-row items-center justify-between gap-4">
                    <div class="flex flex-col md:flex-row items-center gap-4">
                        <div>
                            <div class="avatar">
                                <div class="w-20 rounded-full">
                                  <img src="../assets/images/avatar-1.jpg">
                                </div>
                              </div>
                        </div>
                        <div class="leading-8 mr-2">
                            <p class="text-sm font-YekanBakh-Bold">سهیل نهاوندی</p>
                            <span class="text-xs text-stone-500">دوشنبه ۲۰ ام شهریور ۱۴۰۲</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        </div>
                    </div>
                    <div>
                        <a href="reservation.html" class="bg-indigo-600 hover:bg-indigo-700 hover:transition hover:duration-700 p-4 py-1 text-center rounded-xl text-white">پاسخ</a>
                    </div>
                </div>
            </div>
      </div>
</div>
{% endblock content %}