{% extends "base/base.html" %}

{% block title %}
    <title>ثبت نام دکتر در مجموعه ما</title>
{% endblock title %}

{% block content %}
<section class="px-6 mt-4 mb-8">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white p-3 rounded-3xl mb-4">
          <div class="text-sm breadcrumbs">
            <ul>
              <li><a>خانه</a></li>
              <li>ثبت بیمه</li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-14">
            <div class="bg-white p-4 rounded-3xl">
                <form id="signUpForm" class="p-8 md:p-12 rounded-2xl mx-auto border-solid border-2 border-gray-100" action="#!">
                    <div class="form-control w-full">
                        <h2 class="text-lg font-YekanBakh-Bold mb-4">خرید بیمه عمر ایران</h2>

                        <label class="label">
                          <span class="label-text-alt">نام و نام خانوادگی:</span>
                        </label>
                        <input type="text" class="input input-bordered w-full rounded-xl">
                        <label class="label">
                          <span class="label-text-alt">تلفن همراه:</span>
                        </label>
                        <input type="text" class="input input-bordered w-full rounded-xl">
                        <label class="label">
                            <span class="label-text-alt">شماره ثابت:</span>
                          </label>
                          <input type="text" class="input input-bordered w-full rounded-xl">
                        <button class="btn bg-stone-800 w-36 hover:bg-stone-900 text-white my-3">ثبت بیمه</button>
                      </div>


                </form>
            </div>
            <div class="flex items-center">
              <img class="rounded-2xl" src="../assets/images/others.png" alt="">
            </div>
          </div>





        <div class="bg-white rounded-3xl p-6 mt-4">
            <div class="flex items-center justify-between mb-6">
                <div class="flex items-center">
                    <div class="bg-indigo-600 text-white rounded-xl rounded-bl-none p-2.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"></path>
                          </svg>
                    </div>
                    <h2 class="text-lg font-YekanBakh-ExtraBold mr-2">راهنمای خرید بیمه</h2>
                </div>

            </div>
          <div class="grid grid-cols-1">
            <div class="leading-8">

              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی گیرد.</p>
              <p class="mt-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            </div>

          </div>

        </div>
      </div>
    </section>
{% endblock content %}