{% extends "base/base.html" %}

{% block title %}
    <title>ورود</title>
{% endblock title %}

{% block content %}
<section class="h-screen px-4 flex items-center">
    <div class="container mx-auto max-w-screen-lg">
        <div class="bg-white rounded-2xl overflow-hidden">
            <div class="flex flex-col md:flex-row gap-8">
                <div class="flex-1 p-8 md:p-4 lg:p-20 lg:pb-0">
                    <form action="" method='POST'>
                        <h2 class="text-3xl font-YekanBakh-ExtraBlack my-4">ورود</h2>
                        {% csrf_token %}
                        {{ form }}
                        <button type='submit' class="btn bg-stone-800 hover:bg-stone-900 text-white w-full my-4">ورود</button>
                    </form>
                    <p class="text-center my-4">رمز عبور خود را <a href="{% url "accounts:reset_password" %}"><strong>فراموش</strong> </a>کرده اید؟</p>
                    <div class="divider my-8">یا</div>
                    <p class="text-center my-4"><a href="{% url "accounts:signup" %}">حساب کاربری ندارید !!!</a></p>
                </div>
                <div class="hidden md:block">
                    <img class="bg-cover w-18r" src="/static/images/login.jpg" alt="" style="width: 18rem;">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}