<h1 class="text-sm font-YekanBakh-Bold">اطلاعیه مهم</h1>
<div class="bg-white border p-6 rounded-2xl">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4">
        <div class="leading-8 mr-2">
            <p class="text-sm font-YekanBakh-Bold">عنوان اطلاعیه خیلی مهم</p>
            <span class="text-xs text-stone-500">دوشنبه ۲۰ ام شهریور ۱۴۰۲</span>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 text-stone-200">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"></path>
              </svg>
              
        </div>
    </div>

</div>