{% extends "base/base.html" %}

{% load static %}

{% load thumbnail %}

{% block title %}
    <title>بلاگ</title>
{% endblock title %}

{% block content %}
<section class="px-6 mt-4 mb-8">
    <div class="container mx-auto max-w-screen-xl">
      <div class="bg-white p-3 rounded-3xl mb-4">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a>خانه</a></li> 
            <li>وبلاگ</li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for posts in all_post_blog %}
        <div class="bg-white p-4 rounded-2xl leading-8">
            <a href="{% url "blog:blog_details" posts.slug %}"><img class="rounded-xl" src="{{ posts.image.url }}" alt=""></a>
            <div class="">
              <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">{{ posts.en_title }}</h3> </a>
              <p>{{ posts.title }}</p>
            </div>
            <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
              <div>{{ posts.create_at }}</div>
              <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
              </svg>
              </a></div>
            </div>
          </div>
          {% empty %}
            <p>هنوز پستی به این جا اضافه نشده هست</p>
          {% endfor %}
          
      </div>

      <div class="flex justify-center my-12">
        <div class="join">
            <button class="join-item btn">1</button>
            <button class="join-item btn">2</button>
            <button class="join-item btn btn-disabled">...</button>
            <button class="join-item btn">99</button>
            <button class="join-item btn">100</button>
          </div>
      </div>
    </div>
  </section>
{% endblock content %}