<div class="bg-white p-4 rounded-2xl mb-4 leading-8">
    <div class="p-3 bg-stone-200 rounded-xl mb-4">
      <h1 class="text-sm font-YekanBakh-Bold">دسته بندی ها</h1>
    </div>
      <ul class="menu">
          <li><a>دسته بندی اول</a></li>
          <li>
            <details>
              <summary>دسته بندی دوم</summary>
              <ul>
                <li><a>زیر منوی 1 دسته بندی دوم</a></li>
                <li><a>زیر منوی 2 دسته بندی دوم</a></li>
                <li>
                  <details open="">
                    <summary>دسته بندی سوم</summary>
                    <ul>
                      <li><a>زیر منوی 1 دسته بندی سوم</a></li>
                      <li><a>زیر منوی 2 دسته بندی سوم</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>
          <li><a>دسته بندی چهارم</a></li>
        </ul>
      
  </div>