{% extends "base/base.html" %}

{% load jformat %}

{% load render_partial %}

{% block title %}
    <title></title>
{% endblock title %}

{% block content %}
<div class="col-span-12 md:col-span-9 order-1">
    <div class="bg-white p-4 rounded-3xl leading-8">
        <div class="bg-stone-200 rounded-xl mb-4 p-4">
          <h1 class="text-sm font-YekanBakh-Bold mb-3">{{ details.title }}</h1>
            <div class="flex items-center gap-4 text-xs">
                <span class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                      </svg>
                        {{ details.create_at | jformat }}                                
                </span>
                <span class="flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"></path>
                      </svg>
                      <a href='#'>{{ details.categories }}</a>                             
                </span>
                <div>
                    نویسنده: {{ details.user.get_full_name }}
                </div>
            </div>
        </div>
        <img class="rounded-2xl" src="{{ details.image.url }}" alt="">
        <p class="mt-4">
            {{ details.body }}
        </p>
        {% if request.user.is_authenticated %}
            <div class="mt-4">
                <form method='post' action=''>
                        <h3 class="font-YekanBakh-Bold text-slate-800 text-base">نظرات</h3>
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn bg-stone-800 hover:bg-stone-900 text-white rounded-2xl">ارسال پیام</button>
                </form>
            </div>
        {% else %}
        <p class='bg-stone-200 p-2 rounded-2'>شما برای ایجاد نظر در سایت باید وارد حساب کاربری خود شوید</p>
        <span>
            <a href='{% url "accounts:login" %}'><strong>برای ورود روی این کلیک کنید</strong></a>
        </span>
        {% endif %}
        <div class='rounded-xl mb-4 p-4 mt-3 bg-dark text-white'>
            {% for c in comment %}
                <p class='mt-5'>نام کاربر: {{ c.user }}</p>
                <p>متن کامنت: {{ c.body }}</p>
                <span>تاریخ ایجاد نظر: {{ c.create_at | jformat:"%Y/%m/%d" }}</span> </br>
                <span>ساعت: {{ c.create_at | jformat:"%H:%M" }}</span> </br>
                <button class="btn bg-stone-800 hover:bg-stone-900 text-white rounded-2xl">پاسخ</button>

                {% with reply=c.parent_comment.all %}
                    {% for reply_comment in reply %}
                        <div style="padding: 0 1rem; margin: 0 2rem;">
                            <p class='mt-5'>نام کاربر پاسخ دهنده: {{ reply_comment.user }}</p>
                            <p>متن پاسخ کامنت: {{ reply_comment.body }}</p>
                            <span>تاریخ ایجاد نظر: {{ reply_comment.create_at | jformat:"%Y/%m/%d" }}</span> </br>
                            <span>ساعت: {{ reply_comment.create_at | jformat:"%H:%M" }}</span> </br>
                            {% comment %} <button class="btn bg-stone-800 hover:bg-stone-900 text-white rounded-2xl">پاسخ</button> {% endcomment %}
                        </div>
                    {% endfor %}
                {% endwith %}

            {% empty %}
                <p class='text-sm rounded-xl mb-4 p-4 mt-3'>هنوز هیچ کامنتی در اینجا ایجاد نشده هست</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}