<section class="px-6 my-24">
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex items-center justify-between mb-10">
            <div class="flex items-center">
                <div class="bg-indigo-600 text-white rounded-xl rounded-bl-none p-2.5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"></path>
                      </svg>                          
                </div>
                <h2 class="text-lg font-YekanBakh-ExtraBold mr-2">بیشتر بدانید...</h2>
            </div>
            <div>
                <a href="blog.html" class="flex items-center gap-2">
                    <span>مشاهده همه</span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                      </svg>
                      </span>
                </a>
            </div>
            
        </div>
        <div class="swiper blog-slider swiper-initialized swiper-horizontal swiper-rtl swiper-android swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-79cc93da658896c8" aria-live="off" style="transition-duration: 0ms; transform: translate3d(591.333px, 0px, 0px); transition-delay: 0ms;">
              <div class="swiper-slide" role="group" aria-label="1 / 5" style="width: 280.667px; margin-left: 15px;">
                <div class="bg-white p-4 rounded-2xl leading-8">
                  <a href="single-blog.html"><img class="rounded-xl" src="../assets/images/123.jpg" alt=""></a>
                  <div class="">
                    <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">علائم مهم خطر بارداری</h3> </a>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                  </div>
                  <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
                    <div>3 اردیهبهشت 1402</div>
                    <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                    </svg>
                    </a></div>
                  </div>
                </div>
                
                </div>
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 5" style="width: 280.667px; margin-left: 15px;">
                  <div class="bg-white p-4 rounded-2xl leading-8">
                    <a href="single-blog.html"><img class="rounded-xl" src="../assets/images/122.jpg" alt=""></a>
                    <div class="">
                      <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">ضرر های تزریق ژل به گونه</h3> </a>
                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                    </div>
                    <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
                      <div>3 اردیهبهشت 1402</div>
                      <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                      </svg>
                      </a></div>
                    </div>
                  </div>
                  
                  </div>
                  <div class="swiper-slide swiper-slide-active" role="group" aria-label="3 / 5" style="width: 280.667px; margin-left: 15px;">
                    <div class="bg-white p-4 rounded-2xl leading-8">
                      <a href="single-blog.html"><img class="rounded-xl" src="../assets/images/126.jpg" alt=""></a>
                      <div class="">
                        <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">علائم نازک شدن مو های سر</h3> </a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                      </div>
                      <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
                        <div>3 اردیهبهشت 1402</div>
                        <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                        </svg>
                        </a></div>
                      </div>
                    </div>
                    
                    </div>
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="4 / 5" style="width: 280.667px; margin-left: 15px;">
                      <div class="bg-white p-4 rounded-2xl leading-8">
                        <a href="single-blog.html"><img class="rounded-xl" src="../assets/images/124.jpg" alt=""></a>
                        <div class="">
                          <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">را های درمان خشکی پوست</h3> </a>
                          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
                          <div>3 اردیهبهشت 1402</div>
                          <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                          </svg>
                          </a></div>
                        </div>
                      </div>
                      
                      </div>
                      <div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 280.667px; margin-left: 15px;">
                        <div class="bg-white p-4 rounded-2xl leading-8">
                          <a href="single-blog.html"><img class="rounded-xl" src="../assets/images/125.jpg" alt=""></a>
                          <div class="">
                            <a href="single-blog.html"><h3 class="font-YekanBakh-ExtraBold text-base mt-4 mb-2">دلایل درد دست راست</h3> </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                          </div>
                          <div class="flex items-center justify-between border-t border-dashed pt-4 mt-4">
                            <div>3 اردیهبهشت 1402</div>
                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                            </svg>
                            </a></div>
                          </div>
                        </div>
                        
                        </div>

            </div>
            <div class="swiper-pagination"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        
    </div>
  </section>