{% extends "base/base.html" %}

{% block title %}
    <title>چت</title>
{% endblock title %}

{% block content %}
<div class="bg-white p-4 lg:p-8 rounded-3xl w-full">
    <div class="flex gap-8">
        <div class="w-full md:w-80 lg:w-96 lg:flex-shrink-0">
            <div class="p-3 bg-stone-200 rounded-xl mb-4">
                <h1 class="text-sm font-YekanBakh-Bold">صفحه چت</h1>
              </div>
              <div class="search flex-2 pb-6 px-2">
                <input placeholder="جستجو کنید..." type="text" class="input input-bordered w-full rounded-xl placeholder:text-xs">
            </div>
            <div class="">
                <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-2 rounded px-4 py-3 flex items-center justify-between border-b">
                    <div class="flex items-center">
                        <div class="avatar online">
                            <div class="w-14 rounded-full">
                              <img src="../assets/images/avatar-3.jpg">
                            </div>
                          </div>
                        <div class="px-2">
                            <div class="truncate w-32"><span class="font-YekanBakh-Bold">طاها سکندری</span></div>
                            <div><small class="text-gray-600">سلام بهتری خانم حیدری؟</small></div>
                        </div>
                    </div>
                    <div class=" text-right">
                        <div><small class="text-gray-500">15 خرداد</small></div>
                        <div>
                            <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                                23
                            </small>
                        </div>
                    </div>
                </div>
                <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-2 rounded px-4 py-3 flex items-center justify-between border-b">
                  <div class="flex items-center">
                      <div class="avatar online">
                          <div class="w-14 rounded-full">
                            <img src="../assets/images/avatar-1.jpg">
                          </div>
                        </div>
                      <div class="px-2">
                          <div class="truncate w-32"><span class="font-YekanBakh-Bold">سهیل نهاوندی</span></div>
                          <div><small class="text-gray-600">سلام بهتری خانم حیدری؟</small></div>
                      </div>
                  </div>
                  <div class=" text-right">
                      <div><small class="text-gray-500">15 خرداد</small></div>
                      <div>
                          <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                              23
                          </small>
                      </div>
                  </div>
              </div>
              <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-2 rounded px-4 py-3 flex items-center justify-between border-b">
                <div class="flex items-center">
                    <div class="avatar online">
                        <div class="w-14 rounded-full">
                          <img src="../assets/images/avatar-2.jpg">
                        </div>
                      </div>
                    <div class="px-2">
                        <div class="truncate w-32"><span class="font-YekanBakh-Bold">بیتا گوهردشتی</span></div>
                        <div><small class="text-gray-600">سلام بهتری خانم حیدری؟</small></div>
                    </div>
                </div>
                <div class=" text-right">
                    <div><small class="text-gray-500">15 خرداد</small></div>
                    <div>
                        <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                            23
                        </small>
                    </div>
                </div>
            </div>
            <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-2 rounded px-4 py-3 flex items-center justify-between border-b">
              <div class="flex items-center">
                  <div class="avatar online">
                      <div class="w-14 rounded-full">
                        <img src="../assets/images/avatar-6.png">
                      </div>
                    </div>
                  <div class="px-2">
                      <div class="truncate w-32"><span class="font-YekanBakh-Bold">علی رضا یاسری</span></div>
                      <div><small class="text-gray-600">سلام بهتری خانم حیدری؟</small></div>
                  </div>
              </div>
              <div class=" text-right">
                  <div><small class="text-gray-500">15 خرداد</small></div>
                  <div>
                      <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                          23
                      </small>
                  </div>
              </div>
          </div>
          <div class="entry cursor-pointer transform hover:scale-105 duration-300 transition-transform bg-white mb-2 rounded px-4 py-3 flex items-center justify-between border-b">
            <div class="flex items-center">
                <div class="avatar online">
                    <div class="w-14 rounded-full">
                      <img src="../assets/images/avatar-7.png">
                    </div>
                  </div>
                <div class="px-2">
                    <div class="truncate w-32"><span class="font-YekanBakh-Bold">وحید گیلاسی</span></div>
                    <div><small class="text-gray-600">سلام بهتری خانم حیدری؟</small></div>
                </div>
            </div>
            <div class=" text-right">
                <div><small class="text-gray-500">15 خرداد</small></div>
                <div>
                    <small class="text-xs bg-red-500 text-white rounded-full h-6 w-6 leading-6 text-center inline-block">
                        23
                    </small>
                </div>
            </div>
        </div>



            </div>
        </div>
        <div class="w-full hidden md:block">
            <div class="p-3 bg-stone-200 rounded-xl mb-4">
                <h1 class="text-sm font-YekanBakh-Bold">چت با دکتر نسترن صباحی</h1>
            </div>
              <div class="">
                <div class="chat chat-start">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-3.jpg">
                      </div>
                    </div>
                    
                    <div class="bg-indigo-500 text-white py-2 px-4 rounded-full rounded-br-none">سلام خانم دکتر وقت بخیر</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                        12:46
                      </time>
                  </div>
                  <div class="chat chat-end">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-2.jpg">
                      </div>
                    </div>
                    <div class="bg-gray-500 text-white py-2 px-4 rounded-full rounded-bl-none">خیلی ممنون، چطور میتونم کمکتون کنم؟</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                      12:46
                    </time>
                    
                  </div>
                  <div class="chat chat-start">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-3.jpg">
                      </div>
                    </div>
                    
                    <div class="bg-indigo-500 text-white py-2 px-4 rounded-full rounded-br-none">دارم میگردم هنوز، میتونی یکم بیشتر توضیح بدی؟</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                        12:46
                      </time>
                  </div>
                  <div class="chat chat-start">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-3.jpg">
                      </div>
                    </div>
                    
                    <div class="bg-indigo-500 text-white py-2 px-4 rounded-full rounded-br-none">هنوز هستی؟ زمانم تموم داره میشه</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                        12:46
                      </time>
                  </div>
                  <div class="chat chat-end">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-2.jpg">
                      </div>
                    </div>
                    <div class="bg-gray-500 text-white py-2 px-4 rounded-full rounded-bl-none">بله متوجه شدم خانم دکتر</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                      12:46
                    </time>
                    
                  </div>
                  <div class="chat chat-end">
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full">
                        <img src="../assets/images/avatar-2.jpg">
                      </div>
                    </div>
                    <div class="bg-gray-500 text-white py-2 px-4 rounded-full rounded-bl-none">دارو هایی که فرمودید را مصرف میکنم، نتیجه را خدمتتتون اعلام میکنم</div>
                    <time class="chat-footer opacity-50 text-xs mt-1">
                      12:46
                    </time>
                    
                  </div>   
              </div>
              <div class="flex-2 pt-4">
                <div class="write bg-white mt-8 p-4 flex rounded-lg">
                    <div class="flex-3 flex content-center items-center text-center p-4 pr-0">
                        <span class="block text-center text-gray-400 hover:text-gray-800">
                            <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="h-6 w-6"><path d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        </span>
                    </div>
                    <div class="flex-1">
                        <textarea name="message" class="w-full block outline-none py-4 px-4 bg-transparent" rows="1" placeholder="تایپ کنید" autofocus=""></textarea>
                    </div>
                    <div class="flex-2 w-32 p-2 flex content-center items-center">
                        <div class="flex-1 text-center">
                            <span class="text-gray-400 hover:text-gray-800">
                                <span class="inline-block align-text-bottom">
                                    <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="w-6 h-6"><path d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path></svg>
                                </span>
                            </span>
                        </div>
                        <div class="flex-1">
                            <button class="bg-gray-600 w-10 h-10 rounded-full inline-block">
                                <span class="inline-block align-text-bottom">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                                  </svg>
                                  
                                </span>
                            </button>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
</div>
</div>
{% endblock content %}