<div class="p-3 bg-stone-200 rounded-xl my-4">
    <h1 class="text-sm font-YekanBakh-Bold">مشاوره های جدید</h1>
  </div>

  <div class="overflow-x-auto">
    <table class="table text-right">
      <!-- head -->
      <thead>
        <tr>
          
          <th>نام کاربر</th>
          <th>نوع مشاوره</th>
          <th>مبلغ پرداختی</th>
          <th>شماره فاکتور</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          
          <td>
            <div class="flex items-center space-x-3">
                <div class="avatar ml-1">
                    <div class="w-12 rounded-full">
                      <img src="../assets/images/avatar-1.jpg">
                    </div>
                  </div>
              <div>
                <div class="font-bold mb-2">طاها سکندری</div>
                <div class="text-xs opacity-50">دوشنبه ۲۰ ام شهریور ۱۴۰۲</div>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-ghost ">مشاوره متنی</span>
          </td>
          <td>170.000 تومان</td>
          <th>
            #125697
          </th>
        </tr>
        <tr>
          
            <td>
              <div class="flex items-center space-x-3">
                  <div class="avatar ml-1">
                      <div class="w-12 rounded-full">
                        <img src="../assets/images/avatar-2.jpg">
                      </div>
                    </div>
                <div>
                  <div class="font-bold mb-2">نسترن صباحی</div>
                  <div class="text-xs opacity-50">دوشنبه ۲۰ ام شهریور ۱۴۰۲</div>
                </div>
              </div>
            </td>
            <td>
              <span class="badge badge-ghost ">مشاوره تلفنی</span>
            </td>
            <td>170.000 تومان</td>
            <th>
              #125697
            </th>

  
      </tr></tbody>

    </table>
  </div>